/* GLOBAL */

.d-flex{display:flex;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    }

a{
    color: #0077c5;
    text-decoration: none;
}

body{
    background-color: #eceef1;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #4C4C4C;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

p{
    font-size: 14px;
    color: #4C4C4C;
    text-align: center;
}

header{
    width: 100vw;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
}

main{
    width: 100vw;
    height: 100%;
    margin: 10px 0;
    justify-content: center;
}

footer{
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
    font-size: 12px;
    width: 90%;
    color: #505050;
    padding-top: 20px;
}

#signin-cont{
    height: 90%;
    width: 300px;
    margin-right: 25px;
    align-items: center;
}

#sc-left{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: 70%;
    margin-right: 1px;
}

#sc-right{
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 85%;
    margin-left: 1px;
}

#sign-in-btn{
    border-radius: 4px;
    border-color: black;
    background-color: #0077C5;
    border-width: 1px;
    padding: 0 20px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    height: 34px;
}

.header-txt{ font-size: 12px; }

/* Password icon position */
#icon{
  background-image:url(../img/passw-icon.jpg); 
  background-repeat: no-repeat; 
  background-position: right;
  padding-right: 45px;
  width: 280px;
  }

/* Form Layout */

form fieldset{
    border-color: transparent;
}

#formcont form{
    font-size: 14px;
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-radius: 2px;
    width: 365px;
}

form a{
    color: #0077C5;
    cursor: pointer;
    font-size: 12px;
}

#ratesmayapply{
    font-size: 10px;
}

#main-button{
    margin: 25px 0 0 7%;
    background-color: #0077C5;
    color: #fff;
    width: 85%;
    height: 44px;
    cursor: pointer;
    border-radius: 3px;
}

.labels-format{
    color: #404040;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 6px;
}

.inputs-format{
    height: 34px;
    width: 320px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    color: #000;
    font-size: 1.2em;
    line-height: 1.3em;
    border: 1px solid #C1C5C8;
}


#terms{
    width: 100%;
    text-align: center;
    font-size: 14px;
    width: 318px;
    padding-top: 35px;
    margin: auto;
    font-style: italic;
    color: #757575;
    line-height: 1.5em;
}

#captcha{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    background-color: #ECEEF1;
    font-size: 11px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    color: #757575;
    width: 100%;
    height: 50px;
}

.foot-c{
    width: 100%;
    text-align: center;
    padding: 2px 0;
}

footer ul{
    padding: 0;
    margin: 0;
}
footer li{
    display: inline;
    padding: 0 5px;
}

footer a{
    color: #505050;
}